<html>
<head>
    <title>City Creation</title>
<head>
<body>
    <h1>You added a city!</h1>
    <p>{{ newcity.getCity }}</p>
    <p><a href="/">View your list of places you've been.</a></p>
</body>
</html>
