<html>
<head>
    <title>YOU HAVE BEEN NOWHERE</title>
</head>
<body>
    <h1>Places you've been</h1>
        {% if places is not empty %}
            <p>Here are all your places:</p>
            <ul>
                {% for place in places %}
                    <li>{{ place.getCity }}</li>
                    <p><img src="{{ place.getImage }}"></p>
                {% endfor %}
            </ul>
        {% endif %}

    <form action='/places' method='post'>
        <label for='city'>Places you've been</label>
        <input id='city' name='city' type='text'>
        <label for='image'>Input image URL</label>
        <input id='image' name='image' type='text'>

        <button type='submit'>Add City</button>
    </form>
    <form action='/delete_places' method='post'>
        <button type='submit'>delete</button>
    </form>
</body>
</html>
